.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 365px;
  width: 100%;
  margin: 0;
  background-image: url("/assets/images/506995291_3176229749190916_132137203724538416_n.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.welcome-header {
  color: black;
  font-size: xx-large;
  font-weight: bolder;
}
