.header {
  background-color: burlywood;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 100%;
  margin: 0;
}

.welcome-header {
  color: black;
  font-size: xx-large;
  font-weight: bolder;
}
