@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
  margin: 0;
  background-color: bisque;
  cursor: url(assets/cursor/winter-hat_411951.png), default;
}
